h1, h2, h3, p, li { margin-left: 1em; margin-right: 1em }
img { border: 3px solid black; border-radius: 10%; margin: 10px }
div.stackedImage2 { float: none }
div.explanation { background-color: white; padding: 1em }
div.explanation p { color: black }
a:link { text-decoration: none }
a:hover { text-decoration: underline; font-weight: bold }
a:visited { color: purple }
a:active { color: blue; background-color: blue }
blockquote { background-color: rgba(128, 128, 128, 0.5); padding: 1em }

@media only screen and (max-width: 360px) {
    img { width: 300px }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 1080px) {
    h1, h2, h3, p, li, blockquote { margin-left: 80px; margin-right: 80px; max-width: 720px }
    p, li { text-align: justify }
    div.stackedImage1, div.stackedImage2 { float: left }
}

@media only print {
    h1, h2, h3 { text-shadow: none; box-shadow: none; animation: none; background: initial }
    li a[href^="http"]:after { content: " <" attr(href) ">"; font-family: "Courier New", monospace}
}
